{% extends "base.html" %}

{% block title %}Registration Successful{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header bg-success text-white">
                <h3 class="mb-0">Registration Successful!</h3>
            </div>
            <div class="card-body text-center">
                <p class="lead">Your account has been created. You can now log in.</p>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Go to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 